<!-- Footer -->
    <div class="container text-center text-md-left bg-dark">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Nieuws</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/binnenland" class="text-light">Binnenland</a>
            </li>
            <li>
              <a href="/nieuws/buitenland" class="text-light">Buitenland</a>
            </li>
            <li>
              <a href="/Tech" class="text-light">Tech</a>
            </li>
            <li>
              <a href="/overig" class="text-light">Overig</a>
            </li>
          </ul>

        </div>

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Sport</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-light">Voetbal</a>
            </li>
            <li>
              <a href="#!" class="text-light">Wielrennen</a>
            </li>
            <li>
              <a href="#!" class="text-light">Tennis</a>
            </li>
            <li>
              <a href="#!" class="text-light">Overige sporten</a>
            </li>
            <li>
              <a href="#!" class="text-light">Autosport</a>
            </li>
            <li>
              <a href="#!" class="text-light">Darts</a>
            </li>
            <li>
              <a href="#!" class="text-light">Schaatsen</a>
            </li>
          </ul>

        </div>
        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Regio</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-light">Drenthe</a>
            </li>
            <li>
              <a href="#!" class="text-light">Flevoland</a>
            </li>
            <li>
              <a href="#!" class="text-light">Friesland</a>
            </li>
            <li>
              <a href="#!" class="text-light">Gelderland</a>
            </li>
            <li>
              <a href="#!" class="text-light">Groningen</a>
            </li>
            <li>
              <a href="#!" class="text-light">Limburg</a>
            </li>
            <li>
              <a href="#!" class="text-light">Noord-Brabant</a>
            </li>
            <li>
              <a href="#!" class="text-light">Noord-Holland</a>
            </li>
            <li>
              <a href="#!" class="text-light">Utrecht</a>
            </li>
            <li>
              <a href="#!" class="text-light">Zeeland</a>
            </li>
            <li>
              <a href="#!" class="text-light">Zuid-Holland</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">+Extra</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-light">Entertainment</a>
            </li>
            <li>
              <a href="#!" class="text-light">Financieel</a>
            </li>
            <li>
              <a href="#!" class="text-light">Cultuur</a>
            </li>
            <li>
              <a href="#!" class="text-light">Overig</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
