<!-- Footer -->
<footer class="page-footer blue-grey">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nieuws</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/binnenland">Binnenland</a>
            </li>
            <li>
              <a href="/nieuws/buitenland">Buitenland</a>
            </li>
            <li>
              <a href="/Tech">Tech</a>
            </li>
            <li>
              <a href="/overig">Overig</a>
            </li>
          </ul>

        </div>

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Sport</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Voetbal</a>
            </li>
            <li>
              <a href="#!">Wielrennen</a>
            </li>
            <li>
              <a href="#!">Tennis</a>
            </li>
            <li>
              <a href="#!">Overige sporten</a>
            </li>
            <li>
              <a href="#!">Autosport</a>
            </li>
            <li>
              <a href="#!">Darts</a>
            </li>
            <li>
              <a href="#!">Schaatsen</a>
            </li>
          </ul>

        </div>
        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Regio</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Drenthe</a>
            </li>
            <li>
              <a href="#!">Flevoland</a>
            </li>
            <li>
              <a href="#!">Friesland</a>
            </li>
            <li>
              <a href="#!">Gelderland</a>
            </li>
            <li>
              <a href="#!">Groningen</a>
            </li>
            <li>
              <a href="#!">Limburg</a>
            </li>
            <li>
              <a href="#!">Noord-Brabant</a>
            </li>
            <li>
              <a href="#!">Noord-Holland</a>
            </li>
            <li>
              <a href="#!">Utrecht</a>
            </li>
            <li>
              <a href="#!">Zeeland</a>
            </li>
            <li>
              <a href="#!">Zuid-Holland</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">+Extra</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Entertainment</a>
            </li>
            <li>
              <a href="#!">Financieel</a>
            </li>
            <li>
              <a href="#!">Cultuur</a>
            </li>
            <li>
              <a href="#!">Overig</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
