<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 mx-auto"><br><br></div>
      <div class="col-sm-6 col-md-3 mx-auto"><br><br></div>
      <div class="col-sm-6 col-md-3 mx-auto"><br><br></div>
      <div class="col-sm-6 col-md-3 mx-auto"><br><br><br></div>
    </div>
  </div>
</div>

<!-- Footer -->
  <div class="container-fluid bg-dark">
    <div class="container text-center text-sm-left">
      <div class="row">
        <div class="col-sm-6 col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Nieuws</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/binnenland/" class="text-light">Binnenland</a>
            </li>
            <li>
              <a href="/buitenland/" class="text-light">Buitenland</a>
            </li>
            <li>
              <a href="/tech/" class="text-light">Tech</a>
            </li>
            <li>
              <a href="/nieuws/" class="text-light">Overig</a>
            </li>
          </ul>

        </div>

        <hr class="clearfix w-100 d-sm-none">

        <div class="col-sm-6 col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Sport</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/sport/voetbal/" class="text-light">Voetbal</a>
            </li>
            <li>
              <a href="/sport/wielrennen/" class="text-light">Wielrennen</a>
            </li>
            <li>
              <a href="/sport/tennis/" class="text-light">Tennis</a>
            </li>
            <li>
              <a href="/sport/" class="text-light">Overige sporten</a>
            </li>
            <li>
              <a href="/sport/autosport/" class="text-light">Autosport</a>
            </li>
            <li>
              <a href="/sport/darts/" class="text-light">Darts</a>
            </li>
            <li>
              <a href="/sport/schaatsen/" class="text-light">Schaatsen</a>
            </li>
          </ul>

        </div>
        <hr class="clearfix w-100 d-sm-none">

        <div class="col-sm-6 col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Regio</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/regio/drenthe/" class="text-light">Drenthe</a>
            </li>
            <li>
              <a href="/regio/flevoland/" class="text-light">Flevoland</a>
            </li>
            <li>
              <a href="/regio/fryslan/" class="text-light">Friesland</a>
            </li>
            <li>
              <a href="/regio/gelderland/" class="text-light">Gelderland</a>
            </li>
            <li>
              <a href="/regio/groningen/" class="text-light">Groningen</a>
            </li>
            <li>
              <a href="/regio/limburg/" class="text-light">Limburg</a>
            </li>
            <li>
              <a href="/regio/noord-brabant/" class="text-light">Noord-Brabant</a>
            </li>
            <li>
              <a href="/regio/noord-holland/" class="text-light">Noord-Holland</a>
            </li>
            <li>
              <a href="/regio/utrecht/" class="text-light">Utrecht</a>
            </li>
            <li>
              <a href="/regio/zeeland/" class="text-light">Zeeland</a>
            </li>
            <li>
              <a href="/regio/zuid-holland/" class="text-light">Zuid-Holland</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-sm-none">
        <!-- Grid column -->
        <div class="col-sm-6 col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">+Extra</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/entertainment/" class="text-light">Entertainment</a>
            </li>
            <li>
              <a href="/financieel/" class="text-light">Financieel</a>
            </li>
            <li>
              <a href="/cultuur/" class="text-light">Cultuur</a>
            </li>
            <li>
              <a href="/overig/" class="text-light">Overig</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>                                           
