{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<div class="container-fluid bg-dark">
    <div class="container">
          <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
              {{ site.title }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


            <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
              <ul class="navbar-nav">
                {% for entry in site.data.navigation %}
                  {% if entry.url == current_page %}
                      {% assign current = ' active' %}
                  {% else %}
                      {% assign current = null %}
                  {% endif %}
                  {% assign sublinks = entry.sublinks %}
                  {% if sublinks %}
                  <li class="nav-item dropdown{{ current }}">
                      <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}{{ entry.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="{{ entry.icon }}"></i> {{ entry.title }}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% for sublink in sublinks %}
                          <a class="dropdown-item" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                          {% endfor %}
                      </div>
                  </li>
                  {% else %}
                  <li class="nav-item{{ current }}">
                      <a class="nav-link" href="{{ site.baseurl }}{{ entry.url }}"><i class="{{ entry.icon }}"></i> {{ entry.title }}</a>
                  </li>
                  {% endif %}
              {% endfor %}    
              </ul>
            </div>  
          </nav>
    </div>
 </div>

