---
layout: default
---

<div class="container">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.categories[page.category].size > 2 -%}
        <ul class="list-unstyled">
        {%- for post in site.categories[page.category] limit: page.aantal -%}

        <li><span class="small text-dark">{{ post.date | date: "%H:%M" }}</span> <a href="{{ post.url }}" target="_new">{{ post.title }}</a></li>
        {%- endfor -%}
        </ul>
  {%- endif -%}

</div>



