---
layout: default
---
{% assign cat = page.category %}
{% assign categories_max = 0 %}
{% for category in site.categories[cat] %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}


  <div class="row">
        <div class="col-md-4 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-dark te">Onderwerpen</h5>
            <ul>
                    {% for i in (1..categories_max) reversed %}
                      {% for category in site.categories %}
                        {% if category[1].size == i %}
                          <li>
                            <a href="/{{ category[0] | slugify }}">
                              <strong>{{ category[0] }}</strong> <span class="">{{ i }}</span>
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="col-md-4"><h3>{{ page.title }}</h3>
                {% if page.feature_image %}<img src="{{ page.feature_image }}" width="100%">
                {% endif %}
                    <br><br>
                        
                <p class="small text-right text-secondary">{{ page.date | date: "%-d-%-m-%Y %H:%M" }}</p>
                {{ content }}<br>
                <p class="text-right"><a href="{{ page.externe_link }}" target="_new">lees hele bericht</a></p>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-dark">Laatste berichten</h5>
                <ul class="list-group">
                    {% for post in site.posts limit: 10 %}
                    <li class="list-group-item">
                        <span class="small text-dark">{{ post.date | date: "%H:%M" }}</span><br>
                        <a href="{{ post.url }}" class="text-dark">{{ post.title | escape }}</a>
                    </li>
                    {% endfor %}
                </ul>
        </div>

</div>