---
layout: default
---



<div class="row">
    <div class="col-md-4">{% if page.previous.url %}
        <a class="prev" href="{{ page.previous.url }}">&laquo; {{page.previous.title}}</a>
      {% endif %}</div>
    <div class="col-md-4"><h3>{{ page.title }}</h3>
    {% if page.feature_image %}<img src="{{ page.feature_image }}" width="100%">
    {% endif %}
      <br><br>
            
            <p class="small text-right text-secondary">{{ page.date | date: "%-d-%-m-%Y %H:%M" }}</p>
            {{ content }}<br>
            <p class="text-right"><a href="{{ page.externe_link }}" target="_new">lees hele bericht</a></p>
    </div>
    <div class="col-md-4">{% if page.next.url %}
        <a class="next" href="{{ page.next.url }}">{{page.next.title}} &raquo;</a>
      {% endif %}</div>
</div>
<br>
<br>
</div>
